<md-card>
  <md-card-title>Dynamic Forms - Bug 624</md-card-title>
  <md-card-subtitle>Runtime Dynamic Forms</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>

    <md-input-container>
      <input mdInput placeholder="Name">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Description">
    </md-input-container>


    <md-divider></md-divider>

    <div><strong>Preview</strong></div>
    <div>

      <td-dynamic-forms
        [elements]="addedElements"
        #tdFormAddedElements>
      </td-dynamic-forms>

    </div>
      {{ tdFormAddedElements.value | json }}
    <div>
      <div>
        Is Valid: {{ tdFormAddedElements.valid }}
      </div>

    </div>


    <md-divider></md-divider>

    <div><strong>Add Field</strong></div>

    <md-list class="create-elements">
      <ng-template let-model let-last="last" let-index="index" ngFor [ngForOf]="createFieldModel">
        <md-list-item>
          <form class="create-form">
            <div layout="row" layout-align="space-between center">

              <md-input-container>
                <input mdInput placeholder="Name"
                       [(ngModel)]="model.name" name="name">
              </md-input-container>

              <md-input-container>
                <input mdInput placeholder="Label"
                       [(ngModel)]="model.label" name="label">
              </md-input-container>

              <md-select placeholder="Type" [(ngModel)]="model.type" name="type">
                <md-option *ngFor="let option of elementOptions" [value]="option">
                  {{ option }}
                </md-option>
              </md-select>

              <md-checkbox [(ngModel)]="model.required" name="required">Required</md-checkbox>


              <!-- Trailing Menu -->
              <div>
                <button md-icon-button [md-menu-trigger-for]="menu" class="push-md">
                  <md-icon>more_vert</md-icon>
                </button>
                <md-menu x-position="before" #menu="mdMenu">
                  <button md-menu-item title="Add field" (click)="createElement(model)">
                    <md-icon>add</md-icon>
                    <span>Add</span>
                  </button>
                  <!--<button md-menu-item title="Edit field" (click)="updateElment(index)">-->
                  <!--<md-icon>edit</md-icon>-->
                  <!--<span>Update</span>-->
                  <!--</button>-->
                  <button md-menu-item title="Delete field" (click)="deleteElment(index)">
                    <md-icon>delete</md-icon>
                    <span>Delete</span>
                  </button>
                </md-menu>
              </div>
            </div>
          </form>

        </md-list-item>
      </ng-template>
    </md-list>


  </md-card-content>
</md-card>
