<md-card>
   <md-card-header>
    <md-icon md-card-avatar>photo_size_select_actual</md-icon>
    <md-card-title class="md-display-1">Product Icons</md-card-title>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content>
    <h3 class="md-title">Style</h3>
    <p class="md-body-1">While Teradata doesn't have product logos, products do have illustrated vector icons.</p>
    <p class="md-body-1">Product icons will be flat, angled, and incorporate arrows or movement into dimensionality.</p>
    <h4 class="md-subtitle">Examples</h4>
    <div layout="row" layout-wrap>
      <div flex flex-sm="50" flex-md="50" layout="column" layout-align="center center">
        <md-icon class="md-icon-lg fill-teal-700" svgSrc="app/assets/icons/appcenter.svg"></md-icon>
        <div class="md-subtitle push-top push-bottom">AppCenter</div>
      </div>
      <div flex flex-sm="50" flex-md="50" layout="column" layout-align="center center">
        <md-icon class="md-icon-lg fill-orange-700" svgSrc="app/assets/icons/listener.svg"></md-icon>
        <div class="md-subtitle push-top push-bottom">Listener</div>
      </div>
      <div flex flex-sm="50" flex-md="50" layout="column" layout-align="center center">
        <md-icon class="md-icon-lg fill-cyan-700" svgSrc="app/assets/icons/querygrid.svg"></md-icon>
        <div class="md-subtitle push-top push-bottom">QueryGrid</div>
      </div>
      <div flex flex-sm="50" flex-md="50" layout="column" layout-align="center center">
        <md-icon class="md-icon-lg fill-blue-700" svgSrc="app/assets/icons/viewpoint.svg"></md-icon>
        <div class="md-subtitle push-top push-bottom">Viewpoint</div>
      </div>
      <div flex flex-sm="50" flex-md="50" layout="column" layout-align="center center">
        <md-icon class="md-icon-lg fill-purple-700" svgSrc="app/assets/icons/workload-analytics.svg"></md-icon>
        <div class="md-subtitle push-top push-bottom">Workload Analytics</div>
      </div>
    </div>
    <h3 class="md-title">Usage</h3>
    <p class="md-body-1">Use the <code>md-icon</code> component to load an SVG instead of a typing font icon:</p>
    <td-highlight lang="html">
      <![CDATA[
        <md-icon svgSrc="app/assets/icons/appcenter.svg"></md-icon>
        /* to color an SVG icon use our utility material color fill class */
        <md-icon svgSrc="app/assets/icons/appcenter.svg" class="fill-teal-700"></md-icon>
      ]]>
    </td-highlight>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <span class="md-caption">Teradata AppCenter, Listener, QuerGrid &amp;  icons copyright Teradata. All rights reserved.</span>
  </md-card-actions>
</md-card>
